{% extends "base/base_site.html" %}
{% load static  %}

{% block title %} PLANIFICACIÓN {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
<!-- Datatables -->
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
    <!-- FullCalendar -->
    <link href="{% static 'vendors/fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/fullcalendar/dist/fullcalendar.print.css' %}" rel="stylesheet" media="print">
    <link href="{% static 'build/mis_estilos.css' %}" rel="stylesheet">
    
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    
    {% if object.cerrado %}
        <a class="btn btn-round btn-warning" href="{% url 'programaciones_list' %}"><i class="fa fa-reply"></i> Listar Planificaciones</a>
    {% else %}
        <a class="btn btn-round btn-warning" href="{% url 'programaciones_pendientes_list' %}"><i class="fa fa-reply"></i> Listar Planificaciones</a>
    {% endif %}
    {% if user.is_superuser %} 
        <a class="btn btn-round btn-primary" href="{% url 'programacion_update' object.id %}">Editar</a>
        <a class="btn btn-round btn-info" href="{% url 'programacion_imprimir' object.id %}" target="_blank"><i class="fa fa-print"></i> Imprimir</a>
    {% endif %}
    <!-- /top tiles -->
    


{# PROGRAMACIÓN #}
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="table-responsive-sm">
            <h2>Datos de planificación</h2>
            
                
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Fecha:</strong></td>
                                <td>
                                    {{ object.fecha }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Supervisor:</strong></td>
                                <td>
                                   {{ object.supervisor.first_name }} {{ object.supervisor.last_name }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Técnico:</strong></td>
                                <td>
                                    {{ object.tecnico.first_name }} {{ object.tecnico.last_name }}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Completado:</strong></td>
                                <td>
                                        {% if object.cerrado %} Sí {% else %} En Proceso {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                
                
            
        </div>
    </div>

            <div class="col-md-3">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Tareas Planificadas <small> {{contador_tareas}} </small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content bs-example-popovers">

                  <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Completadas:</strong>  #  {{terminadas}}.
                  </div>
                  <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>En progreso:</strong>  #  {{haciendo}}.
                  </div>
                  <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Por hacer:</strong>  #  {{por_hacer}}.
                  </div>
                  <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Canceladas:</strong>  #  {{canceladas}}.
                  </div>

                </div>
              </div>
            </div>


            <div class="col-md-5">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Calendario <small>...</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div id='calendar'></div>

                  </div>
                </div>
            </div>


</div>

<hr/>

{# FORMULARIO PARA AGREGAR TAREA A LA PROGRAMACIÓN / ESTE FORMULARIO SE OCULTA #}

{% if object.cerrado is False %}
<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><a class="collapse-link"> Agregar <i class="fa fa-chevron-down"></i></a><small> tarea</small></h2>
                
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="display: none;">
                <br />
                
                <div class="box-body  table-responsive">
                <!-- Aquí se puede agregar contenido para que aparezca en la ventanita -->
                <form action="{% url 'tarea_add' %}" method="post">
                    <table class="table nowrap table-condensed table-striped table-hover">

                        {% csrf_token %}
                        {{tarea_form.as_table}}	

                    </table>
                    <button type="submit" class="btn btn-round btn-primary">Agregar</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


{# DETALLE DE TAREAS PROGRAMADAS #}
<div class="row">
    <div class="col-md-12 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="box-header with-border">
                <h2>Detalle</h2> 
            </div>
            
            <div id="collapse1" class="table-responsive">
                <table width="100%" class="table table-condensed table-striped table-hover" id="dataTables">
                    <thead>
                        <tr>
                            <th>Día</th>
                            <th>Tarea</th>
                            <th>Se realizará entre</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object %} <!-- Pregunta primero si hay objetos dentro de nuestro contexto -->
                        {% for task in object.rel_Tareas_Programaciones.all %}
                        <tr>
                            <td>{{ task.fecha_hora_inicio|date:"d" }}</td>
                            <td>{{ task.tarea }}</td>
                            <td> <strong>Del: </strong> {{ task.fecha_hora_inicio|date:"d-m-Y H:i"}} -- <strong>Al: </strong>{{ task.fecha_hora_planificada|date:"d-m-Y H:i" }}</td>
                            <td>
                                {% if task.estado.id == 1 %}  
                                    <span class="label label-warning">{{task.estado}} 
                                {% elif task.estado.id == 2 %}
                                    <span class="label label-info">{{task.estado}} 
                                {% elif task.estado.id == 3 %}
                                    <span class="label label-success">{{task.estado}} 
                                {% elif task.estado.id == 4 %}
                                    <span class="label label-danger">{{task.estado}} 
                                {% endif %}</span>
                            </td>
                            
                            
                            <td>
                                {% if task.id %}
                                <a class="btn btn-round btn-xs btn-success" href="{% url 'tarea_detail' task.id %}">Dar seguimiento</a>
                                {% if task.estado.id == 1 or task.estado.id == 2 or user.is_superuser %}
                                    {% if user.is_superuser %}
                                        <a class="btn btn-round btn-xs btn-primary" href="{% url 'tarea_update' task.id %}">Editar</a>
                                    {% endif %}    
                                {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <h1>No hay registros de asignación de equipo</h1>
                        {% endif %} 
                    </tbody>
                    <tfoot>
                        <th><input type="text" placeholder="Buscar"/></th>
                        <th><input type="text" placeholder="Buscar"/></th>
                        <th><input type="text" placeholder="Buscar"/></th>
                        <th><input type="text" placeholder="Buscar"/></th>
                        <th><input type="text" placeholder="Acción"/></th>
                    </tfoot>
                </table>
            </div>
        </div> 
    </div>        
</div>

  </div>


{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  
  <!-- Skycons -->
  <script src="{% static 'vendors/skycons/skycons.js' %}"></script>
  <!-- DateJS -->
  <script src="{% static 'vendors/DateJS/build/date.js' %}"></script>
  
  <!-- Datatables -->
  <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
  <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
  <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
  <!-- FullCalendar -->
  <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
  <script src="{% static 'vendors/fullcalendar/dist/fullcalendar.min.js' %}"></script>
  <script src="{% static 'vendors/fullcalendar/dist/locale-all.js' %}"></script>

<!-- Mis Scripts -->
<script src="{% static 'build/mis_scripts.js' %}"></script>  

<script>
//Función de DataTable para establecer sus parámetros
$("#dataTables").DataTable({
          dom: "Blfrtip",
                buttons: [{
                    extend: "copy",
                    className: "btn-primary",
                    text: "Copiar"
                }, {
                    extend: "csv",
                    className: "btn-success",
                    text: "Excel"
                }, {
                    extend: "excel",
                    className: "btn-sm",
                    text: "Excel"
                }, {
                    extend: "pdf",
                    className: "btn-sm",
                    text: "PDF"
                }, {
                    extend: "print",
                    className: "btn-primary",
                    text: "Imprimir"
                }],
                //Cambiar el idioma, también se puede hacer con un json
                language: {
                            
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "lengthChange": false,
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                paging: true,
                pagingType: "full_numbers",
                //responsive: true // No permitir que la tabla resultante sea responsive
                //"ordering": false // Deshabilitar las opciones de filtros en las columnas.
                order: [[ 0, "desc" ]] // Indicar que se desea ordenar descendentemente la columna 0
            });
         
            // // Crear una variable de tipo dataTables, es decir del DIV de la tabla para poderla manipular.
            var table = $("#dataTables").DataTable();
         
            // // Aplicar las búsquedas por cada columna.
            table.columns().every( function () {
                var that = this;
                
                //En el tfooter se crearon los campos con th, se aplicada cada filtro a cada campo según su columna.
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            });
</script>


<script>
    console.log('init_calendar_mis_scripts');
    
    var date = new Date(),
        d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear(),
        started,
        categoryClass;
    
    var calendar = $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay,listMonth'
        },
        locale: 'es',
    
    
        //selectable: true,
        eventRender: function(event, element){
              element.popover({
                  animation:true,
                  delay: 300,
                  content: "Tarea: "+event.title,
                  trigger: 'hover'
              });
            },
        
    
        editable: true,
    
        events: [
            {% for task in object.rel_Tareas_Programaciones.all %}
            {% if task.estado.id == 3 %}
                {
                    title: "{{task.tarea}}",
                    start: '{{task.fecha_hora_inicio|date:"Y-m-d H:i"}}',
                    end: '{{task.fecha_hora_planificada|date:"Y-m-d H:i"}}',
                    className: 'customcompletado',
                    url: '{% url "tarea_detail" task.id %}',
                },
            {% endif %}
            {% if task.estado.id == 2 %}
                {
                    title: "{{task.tarea}}",
                    start: '{{task.fecha_hora_inicio|date:"Y-m-d H:i"}}',
                    end: '{{task.fecha_hora_planificada|date:"Y-m-d H:i"}}',
                    className: 'customhaciendo',
                    url: '{% url "tarea_detail" task.id %}',
                },
            {% endif %}
            {% if task.estado.id == 1 %}
                {
                    title: '{{task.tarea}}',
                    start: '{{task.fecha_hora_inicio|date:"Y-m-d H:i"}}',
                    end: '{{task.fecha_hora_planificada|date:"Y-m-d H:i"}}',
                    className: 'customporhacer',
                    url: '{% url "tarea_detail" task.id %}',
                },
            {% endif %}
                
            {% endfor %}
            ]
    });
    </script>



<script>
  $(document).ready(function() {
      
      init_select2();
      init_datapicker();

  });
</script>


<script>
  // Campos fecha inicio a final o planificada.
  $(document).ready(function () {
  $("#id_fecha_hora_inicio").keyup(function () {
    var value = $(this).val();
    $("#id_fecha_hora_planificada").val(value);
  });

});
</script>

{% endblock javascripts %}
