{% extends "base/base_site.html" %}
{% load static  %}

{% block title %} NUEVA ENTRADA {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<!-- alertas personalizadas -->
<link href="{% static 'vendors/alertas/css/alertify.css' %}" rel="stylesheet">
<link href="{% static 'vendors/alertas/css/themes/default.css' %}" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

<div class="right_col" role="main">
  <!-- top tiles -->
  <h1>Entrada
      {% if object.id %}
         #{{ object.entrada }}
      {% endif %}
  </h1>
  <!-- /top tiles -->
  
  <br />
  
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>... <small>datos de la entrada</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />

        {% if object.id %}
            {% if object.cerrar is False %}
          
                <!-- Aquí se puede agregar contenido para que aparezca en la ventanita -->
                <div class="box-body  table-responsive">
                    <form method="post" action="" class="form-horizontal form-label-left" id="entrada-form" onSubmit="return validacion()">
                    <table class="table table-striped table-hover table-condensed">
                        {% csrf_token %}
                        {{form.as_table}}	
                    </table>
                    <button type="submit" class="btn btn-round btn-primary">Guardar</button>
                    </form>
                </div>
            {% else %}
                <h3>La entrada está cerrada</h3>
            {% endif %}
        {% else %}
            <!-- Aquí se puede agregar contenido para que aparezca en la ventanita -->
            <div class="box-body  table-responsive">
                <form method="post" action="" class="form-horizontal form-label-left" id="entrada-form" onSubmit="return validacion()">
                <table class="table table-striped table-hover table-condensed">
                    {% csrf_token %}
                    {{form.as_table}}	
                </table>
                <button type="submit" class="btn btn-round btn-primary">Guardar</button>
                </form>
            </div>
        {% endif %}
          
        </div>
      </div>
    </div>
  </div>
  
</div>


{% endblock content %}

{% block javascripts %}
{{ block.super}}

<!-- DateJS -->
<script src="{% static 'vendors/DateJS/build/date.js' %}"></script>

<!-- bootstrap-moment -->
<script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>

<!-- alertas personalizadas -->
<script src="{% static 'vendors/alertas/alertify.js' %}"></script>

<!-- Mis Scripts -->
<script src="{% static 'build/mis_scripts.js' %}"></script>  

<!-- CSS -->
<style type="text/css">
  input:focus, textarea:focus, select:focus{
    /* background-color: rgb(0, 162, 255); */
    outline: 2px solid rgb(0, 174, 255);
  }
</style>

<script>

    // VALIDACIÓN DEL FORMULARIO
    function validacion() {

      var Cerrar = $("#id_cerrar").is(":checked");
      var CreadoEnSuni = $("#id_creado_en_suni").is(":checked");
      var HojaImpresa = $("#id_hoja_impresa").is(":checked");
      var RegistroCorreo = $("#id_registro_en_correo").is(":checked");
      var NumeroKardex = document.getElementById("id_kardex").value;
      
      var estado = true;
      var pendientes ="";


    // Sí marca el check de Supervisión completada, se realizará una serie de validaciones.
    if(Cerrar){
      // Verifica que ya se haya creado en SUNI.
      if(!CreadoEnSuni){
        pendientes = pendientes + "<strong>SUNI: </strong> " + "Aún no está ingresado en SUNI... <br />";
        estado = false;
      }
      
      // Verifica que la hoja ya esté impresa.
      if(!HojaImpresa){
        pendientes = pendientes + "<strong>Hoja Impresa: </strong> " + "No hay hoja impresa!! <br />";
        estado = false;
      }


    // Verifica que existe un número ingresado en la casilla.
    if($.trim(NumeroKardex).length>0){
    }else{
      pendientes = pendientes + "<strong>Sin número: </strong> " + "Llene el campo de No. Kardex!! <br />";
        estado = false;
	}
      

      // Verifica que ya se haya registrado todo en correo electrónico.
      if(!RegistroCorreo){
        pendientes = pendientes + "<strong>Correo: </strong> " + "No hay registros en correo!! <br />";
        estado = false;
      }

    }

    if(estado){
    }else{
      alertify.alert("NO SE PUEDE CERRAR!", pendientes);
    }
    
    return estado;
};


</script>

<script>
  $(document).ready(function() {
    
    init_Switchery();
    init_select2();
    init_datapicker();

  });
    
</script>


{% endblock javascripts %}
