{% extends "base/base_site.html" %}
{% load static  %}

{% block title %} MOVIMIENTOS {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
<!-- Datatables -->
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    
    <!-- /top tiles -->

    
    <br />

    <div class="row">

      <div class="col-md-12 col-sm-4 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><a href="{% url 'movimiento_add' %}"><img src="{% static 'img/evaluacion.gif' %}" class="img-fluid" height="75" width="100"> Nuevo Movimiento</a></h2>
          </br>
          </br>
          </br>
          </br>
          </br>
          </br>
            <h1>Listado de Movimientos</h1>
        

            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="box-body table-responsive">
            <!-- Aquí se puede agregar contenido para que aparezca en la ventanita -->
                <table width="100%" class="table display table-striped table-hover" id="dataTables" >
                    <thead align="center">
                        <tr>
                            <th>Movimiento</th>
                            <th>Fecha</th>
                            <th>Tipo</th>
                            <th>Dispositivo</th>
                            <th>Entrega</th>
                            <th>Recibe</th>
                            <th>Afecta Kardex</th>
                            <th>Supervisado Por</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if object_list %} <!-- Pregunta primero si hay objetos dentro de nuestro contexto -->
                        {% for movimiento in object_list %}
                          
                                <tr>
                                    <td><a href="https://suni.funsepa.org/i/dispositivo/solicitudmovimiento/{{ movimiento.movimiento }}/" target="_blank"> {{movimiento.movimiento}} </a></td>
                                    <td>{{movimiento.fecha|date:"SHORT_DATE_FORMAT"}}</td>
                                    <td>
                                        {% if movimiento.tipo.id == 2 %}
                                            {% if movimiento.desecho %}
                                                {{movimiento.tipo}} / Desecho
                                            {% else %}
                                                {{movimiento.tipo}} / Útil
                                            {% endif %}
                                        {% else %}
                                            {{movimiento.tipo}}
                                        {% endif %}
                                    </td>
                                    <td>{{movimiento.dispositivo}}</td>
                                    <td>{{movimiento.entrega.first_name}} {{movimiento.entrega.last_name}}</td>
                                    <td>{{movimiento.recibe.first_name}} {{movimiento.recibe.last_name}}</td>
                                    <td> 
                                        {% if movimiento.genera_kardex %}
                                        {% if movimiento.tipo.id == 1 %}
                                            <a href="https://suni.funsepa.org/kardex/salida/{{ movimiento.kardex }}/" target="_blank"> <span class="label label-success"> Sí, Salida #{{ movimiento.kardex }} </span> </a>
                                        {% else %}
                                            <a href="https://suni.funsepa.org/kardex/entrada/{{ movimiento.kardex }}/" target="_blank"> <span class="label label-success"> Sí, Entrada #{{ movimiento.kardex }} </span> </a>
                                        {% endif %}
                                            
                                        {% else %}
                                            <span class="label label-success"> No </span>
                                        {% endif %}
                                        </td> 
                                    <td>{{movimiento.supervisado_por.first_name}} {{movimiento.supervisado_por.last_name}}</td>
                                    
                                    <td>
                                        {% if movimiento.supervision_completada is False %}  
                                          <span class="label label-danger"> En Proceso </span>
                                        {% else %}
                                            <span class="label label-success"> Completado </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                      {% if movimiento.supervision_completada is False %}
                                        <a class="btn btn-xs btn-warning" href="{% url 'movimiento_update' movimiento.id %}">Editar</a>
                                      {% else %}
                                        <span class="label label-danger"> Cerrado </span>
                                      {% endif %}
                                    </td>
                                </tr>
                            
                        {% endfor %}
                        {% else %}
                        <h1>No hay registros de informes</h1>
                        {% endif %}	
                    </tbody>
                    <tfoot>
                      <th><input type="text" placeholder="Buscar"/></th>
                      <th><input type="text" placeholder="Buscar"/></th>
                      <th><input type="text" placeholder="Buscar"/></th>
                      <th><input type="text" placeholder="Buscar"/></th>
                      <th><input type="text" placeholder="Buscar"/></th>
                      <th><input type="text" placeholder="Buscar"/></th>
                      <th><input type="text" placeholder="Buscar"/></th>
                      <th><input type="text" placeholder="Buscar"/></th>
                      <th><input type="text" placeholder="Buscar"/></th>
                      <th><input type="text" placeholder="Opciones"/></th>
                    </tfoot>
                </table>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}

<!-- Datatables -->
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>

    <script>
    $(document).ready(function() {

        //Función de DataTable para establecer sus parámetros
        $("#dataTables").DataTable({
          dom: "Bfrtip",
                buttons: [{
                    extend: "copy",
                    className: "btn-sm"
                }, {
                    extend: "csv",
                    className: "btn-sm"
                }, {
                    extend: "excel",
                    className: "btn-sm"
                }, {
                    extend: "pdfHtml5",
                    className: "btn-sm"
                }, {
                    extend: "print",
                    className: "btn-sm"
                }, ],
                //Cambiar el idioma, también se puede hacer con un json
                language: {
                            
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "lengthChange": false,
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                //responsive: true // No permitir que la tabla resultante sea responsive
                //"ordering": false // Deshabilitar las opciones de filtros en las columnas.
                "order": [[ 0, "desc" ]] // Indicar que se desea ordenar descendentemente la columna 1
            });
         
            // // Crear una variable de tipo dataTables, es decir del DIV de la tabla para poderla manipular.
            var table = $("#dataTables").DataTable();
         
            // // Aplicar las búsquedas por cada columna.
            table.columns().every( function () {
                var that = this;
                
                //En el tfooter se crearon los campos con th, se aplicada cada filtro a cada campo según su columna.
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            });

    });
    </script> 
{% endblock javascripts %}

