{% extends "base/base_site.html" %}
{% load static  %}

{% block title %} NOTAS {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
<!-- Datatables -->
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    
    <!-- /top tiles -->

    <div class="row">

      <div class="col-md-12 col-sm-4 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <img src="{% static 'img/post-it.gif' %}" class="img-fluid" height="100" width="100"> <a class="btn btn-round btn-info" href="{% url 'categoria_list' %}">Ver mis cuadernos</a>
            
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="box-body table-responsive">
            <!-- Aquí se puede agregar contenido para que aparezca en la ventanita -->
                <table width="100%" class="table display table-striped table-hover" id="dataTables" >
                    <thead align="center">
                        <tr>
                            <th>Título</th>
                            <th>Nota</th>
                            <th>Cuaderno</th>
                            <th>Fecha - Hora</th>
                            <th>Seguimiento</th>
                            <th>Link</th>
                            <th>Acciones</th>
                            
                        </tr>
                    </thead>

                    <tbody>
                        {% if notas %} <!-- Pregunta primero si hay objetos dentro de nuestro contexto -->
                        {% for nota in notas %}
                                <tr>
                                    <td>{{nota.titulo}}</td>
                                    <td>{{nota.contenido}}</td>
                                    <td>{{nota.categoria}}</td>
                                    <td>{{nota.fecha|date:"SHORT_DATE_FORMAT"}} - {{nota.hora}}</td>
                                    <td>{% if nota.necesita_seguimiento %}Sí{% else %}No{% endif %}</td>                                    
                                    <td>
                                        {% if nota.link %}
                                            <a href="{{ nota.link }}">Ir a Link</a>
                                        {% else %}
                                            Ninguno
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-xs btn-warning" href="{% url 'nota_update' nota.id %}">Editar</a>
                                        <a class="btn btn-xs btn-success" href="{% url 'categoria_detail_notas' nota.categoria.id %}">Cuaderno</a>
                                    </td>
                                </tr>
                        {% endfor %}
                        {% else %}
                        <h1>No hay registros de notas</h1>
                        {% endif %}	
                    </tbody>
                    <tfoot>
                      <th><input type="text" placeholder="Título"/></th>
                      <th><input type="text" placeholder="Nota"/></th>
                      <th><input type="text" placeholder="Categoría"/></th>
                      <th><input type="text" placeholder="Fecha - Hora"/></th>
                      <th><input type="text" placeholder="En seguimiento"/></th>
                      <th><input type="text" placeholder="Link"/></th>
                      <th><input type="text" placeholder="Acción"/></th>
                    </tfoot>
                </table>
          </div>
        </div>
      </div>


    </div>

  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}

<!-- Datatables -->
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>

    <script>
    $(document).ready(function() {

        //Función de DataTable para establecer sus parámetros
        $("#dataTables").DataTable({
          dom: "Bfrtip",
                buttons: [{
                    extend: "copy",
                    className: "btn-sm"
                }, {
                    extend: "csv",
                    className: "btn-sm"
                }, {
                    extend: "excel",
                    className: "btn-sm"
                }, {
                    extend: "pdfHtml5",
                    className: "btn-sm"
                }, {
                    extend: "print",
                    className: "btn-sm"
                }, ],
                //Cambiar el idioma, también se puede hacer con un json
                language: {
                            
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "lengthChange": false,
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                //responsive: true
            });
         
            // // Crear una variable de tipo dataTables, es decir del DIV de la tabla para poderla manipular.
            var table = $("#dataTables").DataTable();
         
            // // Aplicar las búsquedas por cada columna.
            table.columns().every( function () {
                var that = this;
                
                //En el tfooter se crearon los campos con th, se aplicada cada filtro a cada campo según su columna.
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            });

    });
    </script> 
{% endblock javascripts %}

